{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password | SkillSync</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
</head>

<body>

    <div class="forgot-container">

        <h2>Reset Password</h2>

        <!-- STEP 1 -->
        <input type="email" id="resetEmail" placeholder="Enter your email">

        <button id="verifyBtn" onclick="verifyEmail()">Verify Email</button>

        <!-- STEP 2 (Hidden Initially) -->
        <div id="passwordSection" style="display:none;">

            <input type="password" id="newPassword" placeholder="New Password">
            <input type="password" id="confirmPassword" placeholder="Confirm Password">

            <button onclick="updatePassword()">Update Password</button>

        </div>

    </div>

    <script src="{% static 'js/forgot_password.js' %}"></script>
</body>

</html>